{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
    h8{
        color:yellow;
    }
</style>
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US </h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact. I will come back
            to you within a matter of hours to help you.
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Your Name <h8>*</h8></label>
                        <input type="text" class="form-control" id="inputName" required/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Your Email <h8>*</h8></label>
                        <input type="email" class="form-control" id="inputEmail" required/>
                    </div>
                </div>
                <div class="form-group ">
                        <label for="inputSubject">Your Subject <h8>*</h8></label>
                        <input type="text" class="form-control" id="inputSubject" required/>
                </div>
                <div class="mb-3">
                        <label for="inputTextArea">Your message <h8>*</h8></label>
                        <textarea class="form-control" id="inputTextArea" required=True></textarea>
                </div>
                
                <button class="btn btn-primary" type="Submit" onclick="disp()">Send</button>

            </form>
            <script src="{% static 'core/js/func.js' %}"></script>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p>Ranchi,Jharkhand,India</p>
                </li>
                <li>
                    <i class="fas fa-phone fa-2x i-color"></i>
                    <p> 9876543210</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                    <p>contact@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="#" target="_blank"><i class="fab fa-twitter i-color mr-3"></i></a>
    <a href="#" target="_blank"><i class="fab fa-facebook i-color mr-3"></i></a>
    <a href="#" target="_blank"><i class="fab fa-instagram i-color mr-3"></i></a>
    <a href="#" target="_blank"><i class="fab fa-dribbble i-color mr-3"></i></a>
</div>
{% endblock content %}